@charset utf-8;

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    margin:0;
    padding:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}

body {
    line-height:1px;
    font:normal 12px/1.5 tahoma,arial,sans-serif;
    background:#fff;
    color:#555;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
}

ol,ul {
    list-style:none;
}

blockquote,q {
    quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content:none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

th,td {
    font-weight:400;
}

h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:400;
}

a {
    color:#0069ca;
    text-decoration:none;
    outline:none;
}

a:hover {
    color:#f60;
    text-decoration:none;
}

.clr,.clear {
    clear:both;
    height:0;
    overflow:hidden;
}

.clrfix,.clr_after {
    zoom:1;
}

.clrfix:after,.clr_after:after {
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
    content:".";
}

.hidden {
    visibility:hidden;
}

.qn_travelspace_page {
    clear:both;
    width:990px;
    background-color:#fff;
    margin:0 auto;
}

.l_745r235 {
    clear:both;
    width:990px;
    margin:0 auto;
}

.l_745r235_l {
    float:left;
    display:inline;
    width:745px;
    overflow:hidden;
}

.l_745r235_r {
    float:right;
    display:inline;
    width:235px;
    overflow:hidden;
}

.con_box {
    background-color:#fff;
    margin-top:10px;
    clear:both;
    padding:10px;
}

.placeholder {
    display:inline-block;
    clear:both;
    height:10px;
    line-height:0;
    font-size:0;
    color:#ccc;
}

.PlaceHolder {
    padding-top:5px;
    padding-left:10px;
    font-size:14px;
    color:#888;
}

input.focus::-webkit-input-PlaceHolder {
    color:transparent;
}

input:-moz-PlaceHolder {
    color:#888;
}

input {
    outline:none;
}

.b_dialog_mask {
    background-color:#000;
    width:100%;
    height:120%;
    opacity:.8;
    position:fixed;
    top:0;
    left:0;
    filter:alpha(opacity=50);
    -ms-filter:alpha(opacity=50);
    _height:3000px;
    _position:absolute;
    _overflow:hidden;
    z-index:1000;
}

.b_dialog {
    position:absolute;
    top:50%;
    left:50%;
    background-color:#fff;
    z-index:5000;
    padding:10px;
}

.b_dialog .btn_close {
    background:url(http://source.qunar.com/site/images/travel/place/icon_close_02.gif) no-repeat 0 0;
    display:block;
    text-indent:-9999px;
    font:normal 18px/32px Verdana,arial,sans-serif;
    color:#555;
    width:32px;
    height:32px;
    position:absolute;
    top:0;
    right:-32px;
}

.b_dialog .btn_close_small {
    background:url(http://source.qunar.com/site/images/travel/btn.close.gif) no-repeat 0 0;
    display:block;
    text-indent:-9999px;
    font:normal 18px/32px Verdana,arial,sans-serif;
    color:#555;
    width:10px;
    height:10px;
    position:absolute;
    top:6px;
    right:6px;
}

.b_dialog .e_dialog_hd {
    font:16px/30px "microsoft yahei",arial,sans-serif;
    color:#555;
    padding-bottom:5px;
    border-bottom:1px solid #d1d1d1;
    position:relative;
    z-index:300;
}

.b_dialog .e_dialog_ct {
    width:100%;
    z-index:200;
}

.b_dialog .e_dialog_ft {
    text-align:center;
    z-index:100;
    padding:10px 0;
}

.b_dialog .e_dialog_ft .box_ops {
    text-align:center;
    z-index:30;
    padding:0;
}

.b_dialog .e_dialog_ft .box_ops .ops_btn {
    background:url(http://source.qunar.com/site/images/travel/place/btn_bg_blue.gif) repeat-x scroll 100px 100px #5ec0f2;
    color:#fff;
    width:100px;
    height:30px;
    font:14px/30px arial,sans-serif;
    text-align:center;
    border:0 none;
    border-radius:2px;
    margin:0 5px;
}

.dlg_mask {
    background:#000;
    filter:alpha(opacity=30);
    -ms-filter:alpha(opacity=30);
    width:100%;
    height:100%;
    _height:3000px;
    opacity:.3;
    position:fixed;
    _position:absolute;
    top:0;
    left:0;
    _overflow:hidden;
}

.dlg_mask .dlg_miframe {
    width:100%;
    height:100%;
    _height:3000px;
    position:absolute;
    top:0;
    left:0;
    z-index:0;
    filter:alpha(opacity=0);
    -ms-filter:alpha(opacity=0);
}

body.g_mask_body {
    position:fixed;
    overflow-y:scroll;
    width:100%;
    _background-image:url(about:blank);
    _background-attachment:fixed;
}

.g_dlg_box {
    display:none;
    width:100%;
    height:100%;
    top:0;
    left:0;
    overflow:auto;
    _position:absolute;
}

.g_dlg_wrap_css3 {
    -moz-transition:top 400ms ease-out,opacity 200ms 300ms ease-out;
    -webkit-transition:top 400ms ease-out,opacity 200ms 300ms ease-out;
    -ms-transition:top 400ms ease-out,opacity 200ms 300ms ease-out;
    -o-transition:top 400ms ease-out,opacity 200ms 300ms ease-out;
    transition:top 400ms ease-out,opacity 200ms 300ms ease-out;
}

.pop_msg {
    background:url(http://source.qunar.com/site/images/travel/plan/media/pop_msg.png);
    _background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://source.qunar.com/site/images/travel/plan/media/pop_msg.png",sizingMethod="scale");
    width:355px;
    height:50px;
    padding:10px;
}

.pop_msg td {
    text-align:center;
    vertical-align:middle;
    line-height:1.6;
}

.b_namecard_layer,.b_namecard_layer_s {
    background-color:#fff;
    color:#333;
    width:295px;
    border:1px solid #dadada;
    border-radius:4px;
    position:absolute;
    z-index:9999;
    padding:13px 13px 17px;
}

.b_namecard_layer .e_modify_arrow_tl,.b_namecard_layer .e_modify_arrow_tr,.b_namecard_layer .e_modify_arrow_dl,.b_namecard_layer .e_modify_arrow_dr,.b_namecard_layer_s .e_modify_arrow_tl,.b_namecard_layer_s .e_modify_arrow_tr,.b_namecard_layer_s .e_modify_arrow_dl,.b_namecard_layer_s .e_modify_arrow_dr {
    background:transparent url(http://source.qunar.com/site/images/travel/travel_zone/icon_arrow_modify.gif) 0 0 no-repeat scroll;
    width:8px;
    height:5px;
    position:absolute;
    font-size:0;
    line-height:0;
}

.b_namecard_layer .e_modify_arrow_dl,.b_namecard_layer_s .e_modify_arrow_dl {
    background-position:0 0;
    bottom:-5px;
    left:20px;
}

.b_namecard_layer .e_modify_arrow_dr,.b_namecard_layer_s .e_modify_arrow_dr {
    background-position:0 0;
    bottom:-5px;
    right:20px;
}

.b_namecard_layer .e_modify_arrow_tl,.b_namecard_layer_s .e_modify_arrow_tl {
    background-position:right 0;
    top:-5px;
    left:20px;
}

.b_namecard_layer .e_modify_arrow_tr,.b_namecard_layer_s .e_modify_arrow_tr {
    background-position:right 0;
    top:-5px;
    right:20px;
}

.b_namecard_layer_s .loading {
    background:transparent url(http://source.qunar.com/site/images/travel/travel_zone/icon_loading_whitebg.gif) 0 0 no-repeat scroll;
    padding-left:20px;
    height:16px;
    line-height:16px;
    display:inline-block;
}

.b_namecard_layer .e_id_info .avatar_great {
    float:left;
    display:inline;
    width:70px;
}

.b_namecard_layer .e_id_info .info {
    float:left;
    display:inline;
    margin-left:6px;
    width:219px;
    position:relative;
    height:1%;
    text-align:left;
}

.b_namecard_layer .e_id_info .info p {
    line-height:16px;
}

.b_namecard_layer .e_id_info .username {
    padding-right:5px;
    word-wrap:break-word;
}

.b_namecard_layer .e_id_info .id_grade {
    vertical-align:middle;
}

.b_namecard_layer .e_id_info .gender {
    background:transparent url(http://source.qunar.com/site/images/travel/travel_zone/gender.gif) -100px -100px no-repeat scroll;
    width:15px;
    height:15px;
    display:inline-block;
}

.b_namecard_layer .e_id_info .gender_girl {
    background-position:-4px 4px;
}

.b_namecard_layer .e_id_info .gender_boy {
    background-position:-4px -14px;
}

.b_namecard_layer .e_id_info .id_attention {
    position:absolute;
    top:52px;
    left:-5px;
    width:219px;
}

.b_namecard_layer .e_id_info .id_attention .item_f {
    border-right:1px solid #DEDEDE;
    float:left;
    text-align:left;
    padding-left:5px;
}

.b_namecard_layer .e_id_info .id_attention .noborder {
    border-right:0 none;
}

.b_namecard_layer .e_id_info .id_attention .num {
    margin:0 3px;
}

.b_namecard_layer .b_concern {
    text-align:right;
    padding-top:16px;
}

.b_paging {
    font:12px tahoma;
    text-align:center;
    padding:22px 0 25px;
}

.b_paging_modify {
    text-align:right;
    margin-right:20px;
}

.b_paging a,.b_paging em {
    display:inline-block;
    height:18px;
    line-height:18px;
    border:1px solid #dfdfdf;
    margin-right:5px;
    text-align:center;
    background:url(http://source.qunar.com/site/images/travel/raider/tt_pagebg.png) repeat-x 0 0;
    color:#555;
    cursor:pointer;
    vertical-align:middle;
    padding:0 6px;
}

.b_paging a:hover {
    color:#0f68c2;
    border:1px solid #0e72d1;
}

.b_paging em {
    color:#fd0263;
    border:1px solid #fd0a68;
    font-weight:700;
}

.b_paging .tt_dot {
    display:block;
    height:15px;
    margin-right:5px;
    padding:5px 0 0;
}

.b_paging a.pre,.b_paging a.next {
    width:48px;
    position:relative;
}

.b_paging a.pre img,.b_paging a.next img {
    position:absolute;
    top:5px;
}

.b_paging a.pre img {
    left:6px;
}

.b_paging a.next img {
    left:48px;
}

.b_paging a.pre span,.b_paging a.next span {
    background:url(http://source.qunar.com/site/images/travel/travel_zone/icons_arrows_paging.gif) no-repeat 100px 100px;
    position:absolute;
    top:0;
    display:block;
    width:40px;
    line-height:18px;
    height:18px;
    vertical-align:middle;
    margin:0;
    padding:0;
}

.b_paging a.pre span {
    background-position:left 5px;
    padding-left:6px;
    left:8px;
}

.b_paging a.next span {
    background-position:right -36px;
    padding-right:6px;
    left:6px;
}

.b_paging a.next {
    margin-right:0;
}

.b_paging .disable,.b_paging .disable:hover {
    border:1px solid #ececec;
    background-color:#ececec;
    color:#aaa;
    cursor:default;
}

.b_paging .disable span {
    cursor:default;
}

.b_account_login .s_title {
    display:block;
    color:#666;
    font-size:18px;
    font-family:微软雅黑;
    padding:20px 0 0 15px;
}

.b_account_login .s_info {
    display:block;
    color:#ff8f01;
    line-height:24px;
    font-size:14px;
    padding:10px 15px 35px;
}

.b_account_login .login_box,.b_account_login .websitelink_box {
    float:left;
    display:inline;
    width:49%;
    margin-top:10px;
}

.b_account_login .websitelink_box {
    border-left:1px dashed #d9d9d9;
}

.b_account_login .info_prompt {
    color:#ff8f01;
    line-height:24px;
    font-size:12px;
    padding:10px 0 10px 20px;
}

.b_account_login .s_login_ctn li {
    padding:5px 0 4px 10px;
}

.b_account_login .s_login_ctn li em {
    display:block;
    float:left;
    width:62px;
    font-size:14px;
    line-height:32px;
    height:32px;
    color:#666;
    overflow:hidden;
    text-align:center;
    font-style:normal;
}

.b_account_login .s_login_ctn li .txt {
    width:190px;
    line-height:26px;
    height:26px;
    color:#888;
    overflow:hidden;
    border:1px solid #dbdbdb;
    padding-left:10px;
    vertical-align:middle;
    outline:0 none;
}

.b_account_login .s_login_ctn li.dl {
    padding-left:68px;
    padding-top:8px;
}

.b_account_login .s_login_ctn li.dl input {
    vertical-align:middle;
    _float:left;
    margin-left:3px;
}

.b_account_login .s_login_ctn li.btn {
    padding-bottom:18px;
    padding-top:15px;
}

.b_account_login .s_login_ctn li.btn .btn_submit {
    background:url(http://source.qunar.com/site/images/travel/place/btn_bg_blue.gif) repeat-x scroll 0 0 #5ec0f2;
    width:80px;
    height:30px;
    line-height:30px;
    text-align:center;
    border:0 none;
    border-radius:2px;
    color:#fff;
}

.b_account_login .s_login_ctn li.btn .btn_submit_hover {
    background-position:0 -63px;
}

.b_account_login .s_login_ctn li .text {
    color:#999;
    line-height:16px;
    _line-height:23px;
    margin-left:3px;
}

.b_account_login .s_login_ctn .placeholder {
    color:#999;
    font-size:12px;
}

.b_account_login .s_login_ctn .error {
    color:#F60;
    display:none;
    margin-top:8px;
    margin-left:65px;
    vertical-align:middle;
}

.b_account_login .s_websitelink .dashed_line {
    border-top:1px dashed #e9e9e9;
    height:5px;
    line-height:0;
    font-size:0;
    margin:30px 15px 0;
    padding:0;
}

.b_account_login .s_websitelink .s_title {
    display:block;
    color:#666;
    font-size:12px;
    font-family:simsun;
    padding:10px 0 10px 15px;
}

.b_account_login .s_websitelink .list_item {
    padding:0 10px;
}

.b_account_login .s_websitelink .list_item li {
    width:50%;
    float:left;
    text-align:center;
    padding:5px 0;
}

.b_account_login .s_websitelink .item {
    background:url(http://source.qunar.com/site/images/travel/invitefriend/btn_partner_bg.gif) no-repeat 0 0;
    display:inline-block;
    width:130px;
    height:35px;
    color:#666;
    font:normal 14px/35px "microsoft yahei",simsun;
    vertical-align:middle;
    text-align:left;
    margin:0;
    padding:0;
}

.b_account_login .s_websitelink .item:hover {
    background-position:0 -45px;
}

.b_account_login .s_websitelink .icon {
    background:url(http://source.qunar.com/site/images/travel/invitefriend/icons_otherweblogo.gif) no-repeat 100px 100px;
    display:inline-block;
    width:35px;
    height:35px;
    line-height:35px;
    vertical-align:middle;
    margin-left:5px;
    float:left;
    padding:0;
}

.b_account_login .s_websitelink .icon_sina {
    background-position:0 0;
}

.b_account_login .s_websitelink .icon_qq {
    background-position:0 -35px;
}

.b_account_login .s_websitelink .icon_baidu {
    background-position:0 -70px;
}

.b_account_login .s_websitelink .icon_douban {
    background-position:0 -105px;
}

.b_account_login .s_websitelink .icon_kaixin {
    background-position:0 -140px;
}

.b_account_login .s_websitelink .icon_tuan {
    background-position:0 -175px;
}

.b_account_login .s_websitelink .icon_renren {
    background-position:0 -210px;
}

.b_account_login .s_websitelink .text {
    border-left:1px solid #e4e4e4;
    padding-left:10px;
}

.b_opera_layer {
    background-color:#fff;
    border:1px solid #dadada;
    font-size:12px;
    color:#666;
    width:270px;
    position:absolute;
    z-index:9999;
    padding:14px;
}

.b_opera_layer_w100 {
    width:70px;
}

.b_opera_layer_w170 {
    width:140px;
}

.b_opera_layer .e_ope_area {
    line-height:24px;
    position:relative;
    height:1%;
    padding-left:22px;
}

.b_opera_layer .e_ope_area b {
    background:transparent url(http://source.qunar.com/site/images/travel/travel_zone/icon_tip_oval.gif) 0 1px no-repeat scroll;
    position:absolute;
    top:0;
    left:0;
    width:22px;
    height:18px;
    display:inline-block;
    text-indent:-9999px;
}

.b_opera_layer .e_ope_area .opera_tip_blue {
    background-position:0 -31px;
}

.b_opera_layer .opera {
    text-align:right;
    padding-top:15px;
}

.b_opera_layer .opera .btn {
    width:auto;
    background:transparent url(http://source.qunar.com/site/images/travel/travel_zone/btn_bg_cons.png) 0 0 repeat-x scroll;
    display:inline-block;
    color:#fff;
    height:22px;
    line-height:22px;
    border-radius:2px;
    padding:0 10px;
}

.b_opera_layer .opera .btn_ok {
    background-position:0 0;
    margin-right:10px;
}

.b_opera_layer .opera .btn_ok:hover {
    background-position:0 -22px;
}

.b_opera_layer .opera .btn_cancel {
    background-position:0 -44px;
}

.b_opera_layer .opera .btn_cancel:hover {
    background-position:0 -66px;
}

em,i {
    font-style:normal;
}

.hide,input::-ms-clear {
    display:none;
}

.qn_page,.qn_page_top,.qn_page_con {
    clear:both;
    width:980px;
    background-color:#fff;
    margin:0 auto;
    padding:5px;
}

.qn_main,.pop_msg table {
    width:100%;
    height:100%;
}

.b_namecard_layer_s,.b_account_login .s_login_ctn li.btn,.b_account_login .s_login_ctn li.reg {
    text-align:center;
}