<div class="wrap">
  <div class="container">
      <img src="/img/photos/plan_1/封面.jpg" width="100%"/>
      <div class="in_image">
        <h4>第一次去日本</h4>
        <h3>关西九日自由行</h3>
        <p>古迹 购物 公园 美食</p>
        <a href="#">获取详细行程</a>
      </div>
    <div class="row" style="padding-top:30px;padding-left:40px;">
        <div class="span2">
          <h2>了解</h2>
          <ul class="ul-menu">
            <li><a href="#">为什么是关西</a></li>
            <li><a href="#">不会日语?</a></li>
            <li><a href="#">行程设计思路</a></li>
            <li><a href="#">总体行程概览</a></li>
            <li><a href="#">总体花费状况</a></li>
            <li><a href="#">准备工作要做好</a></li>
            <li><a href="#">详细的行程表</a></li>
            <li><a href="#">美食！美食！</a></li>
          </ul>
        </div>
        <div class="span10">
          <h2>游览到</h2>
          <div class="row-fluid">
            <div class="span4">
              <img src="/img/photos/plan_1/主行程/城市/大阪.jpg" class="feature">
              <h4><a href="#">现代化大都市</a></h4>
            </div>
            <div class="span4">
              <img src="/img/photos/plan_1/主行程/文化遗产和古迹/清水寺.jpg" class="feature">
              <h4><a href="#">文化遗产与古迹</a></h4>
            </div>
            <div class="span4">
              <img src="/img/photos/plan_1/主行程/近现代景点/北野异人馆.jpg" class="feature">
              <h4><a href="#">近现代景点</a></h4>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <img src="/img/photos/plan_1/主行程/游乐园和公园/奈良公园.jpg" class="feature">
              <h4><a href="#">特色游乐园和公园</a></h4>
            </div>
            <div class="span4">
              <img src="/img/photos/plan_1/主行程/购物逛街/三宫站前商店街.jpg" class="feature">
              <h4><a href="#">购物和逛街</a></h4>
            </div>
            <div class="span4">
              <img src="/img/photos/plan_1/主行程/美食特别推荐/道乐.jpg" class="feature">
              <h4><a href="#">各色美食</a></h4>
            </div>
          </div>
        </div>

        <div class="offset2 span10">
          <div class="row-fluid">
            <div class="span4">
                <h3>准备出发了</h3>
                <ul class="ul-menu">
                  <li><a href="#">旅行前3个月</a></li>
                  <li><a href="#">旅行前1个月</a></li>
                  <li><a href="#">必须了解的知识</a></li>
                </ul>
            </div>
            <div class="span4">
              <h3>抵达目的地</h3>
              <ul class="ul-menu">
                <li><a href="#">详细行程表</a></li>
                <li><a href="#">全程小贴士</a></li>
                <li><a href="#">就是爱美食</a></li>
              </ul>
            </div>
            <div class="span4">
              <h3>还有一些小问题</h3>
              <ul class="ul-menu">
                <li><a href="#">不会日语怎么办</a></li>
                <li><a href="#">要买什么小礼物</a></li>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>