<table class="table table-bordered">
  <thead>
    <tr>
      <th>日程</th>
      <th>活动</th>
      <th>出发</th>
      <th>交通</th>
      <th>费用</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td rowspan="3">第一天</td>
        <td>到达大阪</td>
        <td>机场</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
      <td>购买交通票</td>
      <td>机场</td>
      <td></td>
      <td>300日元</td>
    </tr>
    <tr>
      <td>入住旅馆</td>
      <td>大阪难波</td>
      <td>【関西空港(鉄道)】 乘坐南海空港線空港急行约50分钟到达【難波】</td>
      <td>800日元</td>
    </tr>
  </tbody>
</table>