!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "哪里值得去？尽在值得去！旅游达人歪脖为大家提供日本最专业旅游攻略下载。景点攻略、美食攻略、购物攻略、住宿交通攻略等应有尽有", :name => "description"}/
    %meta{:content => "值得去", :name => "author"}/
    %meta{:content => "日本旅游，旅游问答,旅游攻略,旅游攻略下载游记下载,游记旅游日记,攻略下载", :name => "keywords"}/
    %meta{:content => "index,follow", :name => "robots"}/
    %meta{:content => "zhidequ.com", :name => "application-name"}/
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/bootstrap-responsive.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/docs.css", :rel => "stylesheet"}/
    %link{:href => "/css/view.css", :rel => "stylesheet"}/
    %link{:href => "/css/finish_view.css", :rel => "stylesheet"}/
    %link{:href => "/css/bootstrap-modal.css", :rel => "stylesheet"}
    :css
      body{
          padding-top: 0;
      }
      h1, h2, h3, .masthead p, .subhead p, .marketing h2, .lead
      {
          font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
          font-weight: normal;
      }

      #scrollUp {
          bottom: 20px;
          right: 20px;
          height: 38px;  /* Height of image */
          width: 38px; /* Width of image */
          background: url("/img/top.png") no-repeat;
      }
    %link{:href => "/css/bootstro.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/scojs.css", :rel => "stylesheet"}/
    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="/js/html5shiv.js"></script>
    /[if lte IE 6]
      <link rel="stylesheet" type="text/css" href="/css/bootstrap-ie6.min.css">

      <link rel="stylesheet" type="text/css" href="/css/ie.css">
      <script type="text/javascript" src="http://qunarzz.com/js/compatibilityUtils/build/DD_belatedPNG-min.js">
      </script>
      :javascript
        DD_belatedPNG.fix('.pngfix');
    :javascript
      var _hmt = _hmt || [];
    %title 值得去
  %body{"data-spy" => "scroll", "data-target" => ".bs-docs-sidebar"}
    -#%header.navbar{:role => "banner"}
    -#  .container
    -#    %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
    -#      %span.icon-bar
    -#      %span.icon-bar
    -#      %span.icon-bar
    -#    %span/
    -#    %h1
    -#      值得去
    -#      %small 不会自助游，也能自由行
    -#    %nav.nav-collapse.collapse{:role => "navigation"}
    -#      %ul.nav.pull-right
    .site_header
      .header_wrap
        .user_img
          %img{:alt => "website icon", :height => "80", :src => "/img/logo.jpg", :width => "80"}/
        .blog_title
          %a{:href => "/", :style => "color:white;"}
            歪脖的值得去
        .write
          %a{:href => "/login"} 登录
          %div 歪脖的旅游qq群：247497929
        .blog_motto 不会自助游，也能自由行
    = yield
    /
      Footer
      \==================================================
    %footer.footer
      .container
        %p 值得去为您奉献
        %ul.footer-links
          %li
            %a{:href => "./about.html", :target => "_blank"} 关于
          %li.muted ·
          %li
            %a{:href => "mailto:support@zhidequ.com", :target => "_blank"} 联系我们
          %li.muted ·
          %li
            %a{:href => "#"} 变更记录
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{:src => "/js/jquery-1.10.1.min.js"}
    %script{:src => "/js/jquery.unveil.min.js"}
    %script{:src => "/js/bootstrap.min.js"}
    %script{:src => "/js/bootstro.min.js"}
    %script{:src => "/js/bootstrap-modalmanager.js"}
    %script{:src => "/js/bootstrap-modal.js"}
    /
      [if lte IE 6]>
      <!-- bsie js 补丁只在IE6中才执行
    %script{:src => "/js/bootstrap-ie.js", :type => "text/javascript"}
    <![endif]-->
    %script{:src => "/js/google-code-prettify.js"}
    %script{:src => "/js/jquery.scrollUp.min.js"}
    -#%script{:src => "/js/jquery.scrollspy.js"}
    %script{:src => "/js/jquery.sticky-kit.min.js"}
    %script{:src => "/js/holder.js"}
    %script{:src => "/js/application.js"}
    :javascript
      $(document).ready(function(){

          $.fn.modalmanager.defaults.resize = true;

          $("img.lazy").unveil();

          $("#start-intro").click(function(){
              bootstro.start();
          });

          $.scrollUp({
              scrollName: 'scrollUp', // Element ID
              topDistance: '300', // Distance from top before showing element (px)
              topSpeed: 300, // Speed back to top (ms)
              animation: 'fade', // Fade, slide, none
              animationInSpeed: 200, // Animation in speed (ms)
              animationOutSpeed: 200, // Animation out speed (ms)
              scrollText: '', // Text for element
              activeOverlay: false  // Set CSS color to display scrollUp active point, e.g '#00FFFF'
          });

          var $body   = $(document.body)

          var navHeight = $('.navbar').outerHeight(true) + 10
          $body.scrollspy({
                target: '.bs-sidebar',
                offset: navHeight
              })

          var in_area = false;
          $(window).bind("scroll",function(){
            go_in = false;
            go_out = false;
            var st = $(document).scrollTop();
            if(st > 100){
              if(!in_area){
                in_area = true;
                go_in = true;
              }
            }
            if(st < 100){
              if(in_area){
                in_area = false;
                go_out = true;
              }
            }
            if(go_in){
              $(".sticky").removeClass("hide");
            }
            if(go_out){
              $(".sticky").addClass("hide");
            }
          });

          var pages= {};
          $('.e_main').each(function(i){
            page = $(this);
            pages[page[0].id] = page;
            if(i == 0){
              page.addClass("page_selected");
            }else{
              page.addClass("hide");
            }
          });

          $(".tab").on('click', function(){
            $this = $(this);
            $this.addClass("active");
            target_id = $this.attr("target");
            selector = "#" + target_id;
            $(".page_selected").addClass("hide");
            page = $(selector);
            page.removeClass("hide");
            page.addClass("page_selected");
            console.log(page.offset().top);
            $(document).scrollTop(page.offset().top - 50);
          });

          $(".js_expand_btn").on('click', function(){
            target_id = "#" + $(this).attr("target");
            $(target_id).toggle();
          })

      });